{% extends "cust_admin/base.html" %}
{% load static %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Edit Product Offer</h2>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_product" class="form-label">Product</label>
                            {{ form.product }}
                            {% if form.product.errors %}
                                <div class="text-danger">
                                    {{ form.product.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_discount_percentage" class="form-label">Discount Percentage</label>
                            {{ form.discount_percentage }}
                            {% if form.discount_percentage.errors %}
                                <div class="text-danger">
                                    {{ form.discount_percentage.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_start_date" class="form-label">Start Date</label>
                            {{ form.start_date }}
                            {% if form.start_date.errors %}
                                <div class="text-danger">
                                    {{ form.start_date.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_end_date" class="form-label">End Date</label>
                            {{ form.end_date }}
                            {% if form.end_date.errors %}
                                <div class="text-danger">
                                    {{ form.end_date.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button class="btn btn-primary" type="submit">Update Product Offer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
