{% extends 'cust_admin/base.html' %}
{% load static %}
{% block content %}
    
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'cust_admin:add_product' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" name="title" placeholder="Type here" class="form-control" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" name="description" class="form-control" rows="4"
                                        required></textarea>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Specifications</label>
                                    <textarea placeholder="Type here" name="specifications" class="form-control" rows="4"
                                        required></textarea>
                                </div>
                            
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <label for="image" class="form-label"></label>
                                <img src="{% static 'admin_side/imgs/theme/upload.svg' %}" alt="">
                                <input type="file" name="image" class="form-control" accept="image/*" multiple required>
                            </div>
                        </div>
                        <div class="card-header">
                            <h4>Organization</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select id="category" name="category" class="form-select" required>
                                        <option value="" disabled selected>Select Category</option>
                                        {% for category in categories %}
                                          <option value="{{ category.c_id }}">{{ category.c_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Sub-category</label>
                                    <select id="subcategory" name="subcategory" class="form-select" required>
                                        <option value="" disabled selected>Select Subcategory</option>
                                        {% for subcategory in subcategories %}
                                          <option value="{{ subcategory.sid }}">{{ subcategory.sub_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                </div> <!-- row.// -->
                            </div>
                    </div> <!-- card end// -->
                     <!-- card end// -->
                </div>
                <div>
                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Add Product</button> &nbsp;
                    <a href="{% url 'cust_admin:prod_list' %}"class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</a>
                </div>
            </form>
            </div>
        </section> <!-- content-main end// -->
        
{% endblock content %}