{% extends 'cust_admin/base.html' %}
{% load static %}
{% block content %}

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Add Product</button>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" name="title" placeholder="Type here" class="form-control" id="product_name" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" name="description" class="form-control" rows="4" required ></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="&#8377;" type="number" name="old_price" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Discount price</label>
                                            <input placeholder="&#8377;" type="number" name="price" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Discount rate</label>
                                    <input type="number" placeholder="%" class="form-control" id="product_name" required>
                                </div>
                                <!-- <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Make a template </span>
                                </label> -->
                            </form>
                        </div>
                    </div> <!-- card end// -->
                    <!-- <div class="card mb-4">
                        <div class="card-header">
                            <h4>Shipping</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Width</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Height</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Weight</label>
                                    <input type="text" placeholder="gam" class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Shipping fees</label>
                                    <input type="text" placeholder="$" class="form-control" id="product_name">
                                </div>
                            </form>
                        </div>
                    </div> card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" type="file">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Categorization</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="category" required>
                                        <option> Select </option>
                                        {% for category in categories %}
                                        <option value="{{category.c_id}}">{{category.c_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Sub-category</label>
                                    <select class="form-select">
                                        <option> Select </option>
                                        
                                        {% for subcategory in subcategories %}
                                        <option value="{{ subcategory.sid }}">{{ subcategory.sub_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Stock</label>
                                    <input type="number" name="stock" class="form-control" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" name="featured" class="form-check-input">
                                    <label for="featured" class="form-check-label">Featured</label>
                                  </div>
                              
                                  <div class="mb-3 form-check">
                                    <input type="checkbox" name="latest" class="form-check-input">
                                    <label for="latest" class="form-check-label">Latest</label>
                                  </div>
                              
                                  <div class="mb-3 form-check">
                                    <input type="checkbox" name="in_stock" class="form-check-input" checked>
                                    <label for="in_stock" class="form-check-label">In Stock</label>
                                  </div>
                              
                                  <div class="mb-3 form-check">
                                    <input type="checkbox" name="status" class="form-check-input" checked>
                                    <label for="status" class="form-check-label">Status</label>
                                  </div>
                            </div> <!-- row.// -->
                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
        
{% endblock content %}
    