{% extends 'cust_admin/base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">{{ title }}</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Save Changes</button>
                        <a href="{% url 'cust_admin:prod_catalogue' %}" class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
