{% extends 'cust_admin/base.html' %}
{% load static %}
{% block content %}
    
    
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">{{ title }}</h2>
                    <p></p>
                </div>
                <div>
                    <a href="{% url 'cust_admin:add_product' %}" class="btn btn-md rounded font-sm">Add New Product</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Blockd</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Sub Category</th>
                                    <th scope="col">Is Available</th>
                                    <th scope="col" class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.p_id }}</td>
                                        <td><b>{{ product.title }}</b></td>
                                        <td>
                                            {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-sm img-thumbnail" alt="">
                                            {% else %}
                                            <p>No image available</p>
                                            {% endif %}
                                        
                                        </td>
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.sub_category.sub_name }}</td>
                                        <td>{{ product.availability }}</td>
                                        <td class="text-end">
                                            {% if product.is_blocked %}
                                                <a href="{% url 'cust_admin:product_unlist' product.id %}" class="btn btn-md rounded font-sm text-end">Unblocked</a>&nbsp;&nbsp;
                                            {% else %}
                                                <a href="{% url 'cust_admin:product_unlist' product.p_id %}" class="btn btn-md rounded font-sm">Block</a>&nbsp;&nbsp;
                                            {% endif %}
                                            <a href="{% url 'cust_admin:edit_product' product.p_id %}" class="btn btn-light rounded btn-sm font-sm" role="button">Edit </a>

                                        </td>
                                        <!-- <td class="text-center align-middle col-md-3">
                                            <div class="d-flex gap-2">
                                                <div class="btn-group">
                                                    
                                                </div>
                                                <div class="btn-group">
                                                </div>
                                            </div>
                                        </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <i class="material-icons md-chevron_left"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% for num in paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        
{% endblock content %}