{% extends 'cust_admin/base.html' %}
{% load static %}
{% block content %}

<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'cust_admin:product_edit' product.p_id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="title" class="form-label">Product Title</label>
                            <input type="text" name="title" placeholder="Enter product title" class="form-control" required value="{{ product.title }}">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label">Full Description</label>
                            <textarea placeholder="Enter product description" name="description" class="form-control" rows="4" required>{{ product.description }}</textarea>
                        </div>
                        <div class="mb-4">
                            <label for="specifications" class="form-label">Specifications</label>
                            <textarea placeholder="Enter product specifications" name="specifications" class="form-control" rows="4" required>{{ product.specifications }}</textarea>
                        </div>
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <label for="image" class="form-label">Main Product Image</label>
                        <input type="file" name="image" class="form-control" accept="image/*" required>
                    </div>
                    <div class="input-upload">
                        <label for="images" class="form-label">Additional Product Images</label>
                        <input type="file" name="images" class="form-control" accept="image/*" multiple required>
                    </div>
                </div>
                <div class="card-header">
                    <h4>Organization</h4>
                </div>
                <div class="card-body">
                    <div class="row gx-2">
                        <div class="col-sm-6 mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select id="category" name="category" class="form-select" required>
                                <option value="" disabled selected>Select Category</option>
                                {% for category in categories %}
                                  <option value="{{ category.c_id }}">{{ category.c_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="subcategory" class="form-label">Sub-category</label>
                            <select id="subcategory" name="subcategory" class="form-select" required>
                                <option value="" disabled selected>Select Subcategory</option>
                                {% for subcategory in subcategories %}
                                  <option value="{{ subcategory.sid }}">{{ subcategory.sub_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <input type="checkbox" name="availability" class="form-check-input">
                            <label for="availability" class="form-check-label">Available</label>
                        </div>
                    </div> <!-- row.// -->
                </div>
            </div> <!-- card end// -->
        </div>
        <div>
            <button type="submit" class="btn btn-md rounded font-sm hover-up">Add Product</button> &nbsp;
            <a href="{% url 'cust_admin:prod_list' %}"class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</a>
        </div>
    </form>
    </div>
</section> <!-- content-main end// -->
{% endblock content %}
