{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<style>
    .checkout-btn {
        display: flex;
        justify-content: flex-end;
        margin-right: 18em;
        margin-bottom: 30px;
    }

    .price-align {
        display: flex;
        justify-content: flex-end;
        margin-right: 28em;
        margin-bottom: 30px;
    }

    .inc-bt{
        background: #e6e5e5;
        border:None;
        border-radius:10%;
    }
    .align-total{
        margin-left:30em;
    }

   
</style>
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery clean">
                                <thead>
                                    <tr class="main-heading">
                                        <!-- <th scope="col">Image</th> -->
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if cart_items %}
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <!-- <td class="image product-thumbnail">
                                            {% if cart_item.product.product_image %}
                                                <img src="{{ cart_item.product.product_image }}" alt="{{ cart_item.product.title }}">
                                            {% else %}
                                                <img src="{% static 'path/to/default/image.jpg' %}" alt="Default Image">
                                            {% endif %}
                                        </td> -->
                                        
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="shop-product-right.html">{{cart_item.product.product.title}}</a></h5>
                                            <p class="font-xs">{{cart_item.product.description}}</p>
                                        </td>
                                        <td class="price" data-title="Price"><span>{{cart_item.product.price}}</span></td>
                                            
                                        <td class="text-center" data-title="Stock"> 
                                            <button class='inc-bt'onclick="decreaseQuantity('{{ cart_item.id }}' , '{{ cart_item.cart_id }}')">-</button>
                                            <span id="quantity{{cart_item.id }}">{{ cart_item.quantity }}</span>
                                            <button class='inc-bt' onclick="increaseQuantity('{{ cart_item.id }}', '{{ cart_item.cart_id }}')" >+</button>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span id="total{{ cart_item.id }}">{{ cart_item.subtotal }}</span>
                                        </td>
                                        <td><button class='btn primary-btn' onclick="removeFromCart('{{ cart_item.id }}')">Remove</button></td>
                                    </tr>
                                    pr={{cart_item.product_attribute.description}}
                                    {% endfor %}
                                    {% else %}
                                    <td colspan="6">
                                        <p style="color: black;">The cart is empty</p>
                                    </td>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                            <a href="{% url 'store:shop' %}" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                                <div class="mb-30 mt-50">
                                    <div class="heading_s1 mb-3">
                                        <h4>Apply Coupon</h4>
                                    </div>
                                    <div class="total-amount">
                                        <div class="left">
                                            <div class="coupon">
                                                <form action="#" target="_blank">
                                                    <div class="form-row row justify-content-center">
                                                        <div class="form-group col-lg-6">
                                                            <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <button class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">${{ total_cart_price }}</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">{{total_cart_price}}</span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="{% url 'cart:checkout' %}" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
 
    <script>
        
        function increaseQuantity(cartItemId, cart_id) {
            console.log(cartItemId,cart_id)
            console.log('coming');
            console.log('inside increse')
            let final = document.getElementById('final_total');
            let quantityInput = document.getElementById(`quantity${cartItemId}`);
            let currentElement = document.getElementById(`total${cartItemId}`);
            console.log(quantityInput)
            fetch(`/increase_quantity/${cartItemId}/${cart_id}`)
                .then(response => {
                    if (response.status === 200) {
                        console.log('after');
                        return response.json();
                    } else if (response.status === 201) {
                        showToast('info', 'Product is out of stock');
                        throw new Error('Product is out of stock');
                    } else {
                        throw new Error('Failed to increase quantity');
                    }
                })
                .then(data => {
                    console.log(data);
                    console.log(data.q,"quantity while increasing")
                    // Update quantity
                    console.log('after2');
                    quantityInput.innerText = data.q;
                    console.log(data.total + "backend");
        
                    currentElement.innerText = `₹${data.total}`;
                    final.innerText = `₹${data.total_sum}`;
                })
                .catch(error => {
                    console.error('Error:', error);
                    showToast('error', error.message);
                });
        }
        
    
    
        function showToast(type, message) {
            // Get the toast element
            let toast = document.getElementById('toast');
            // Set toast message and class based on type
            toast.innerText = message;
            toast.className = `show ${type}`;
            // Hide the toast after 3 seconds
            setTimeout(() => {
                toast.className = toast.className.replace("show", "");
            }, 3000);
        }
        
        function decreaseQuantity(cartItemId,cart_id) {
            console.log("inside decrease ")
            console.log(cart_id)
            console.log(cartItemId)
            let final = document.getElementById('final_total');
            let currentElement = document.getElementById(`total${cartItemId}`)
            let quantityInput = document.getElementById(`quantity${cartItemId}`);
            console.log(quantityInput)
            fetch(`/decrease_quantity/${cartItemId}/${cart_id}`)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to decrease quantity');
                    }
                })
                .then(data => {
                    // Update quantity
                    console.log(data)
                    console.log(quantityInput)
                    console.log(data.q)
                    quantityInput.innerText = data.q;
                  
                    
                    // document.getElementById(`quantity${cartItemId}`).innerText = data.quantity;
                    currentElement.innerText = data.total
                    final.innerText = `₹${data.total_sum}`
                    // Calculate new total price for the item
                   // const price = parseFloat(document.getElementById(`price${cartItemId}`).innerText.replace('$', ''));
                   // const total = price * data.quantity;
                    // Update total price DOM element for the item
                    //document.getElementById(`total${cartItemId}`).innerText = '$' + total.toFixed(2);
                    // Update total cart price
                    //updateTotalCartPrice();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } 
    
    
        function removeFromCart(CartItemId) {
            // Send AJAX request to remove item from wishlist
            fetch(`/remove_from_cart/${CartItemId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Remove the item from the DOM if the request is successful
                    const itemElement = document.getElementById(`item-${CartItemId}`);
                    if (itemElement) {
                        itemElement.remove();
                    }
                    window.location.reload(true)
                } else {
                    console.error('Failed to remove item from wishlist');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    
    </script>
       

{% endblock content %}
    