{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                <div class="form-group">
                    <label for="street_address">Street Address</label>
                    <input type="text" class="form-control" id="street_address" name="street_address" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" required>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" name="state" required>
                </div>
                <div class="form-group">
                    <label for="postal_code">Postal Code</label>
                    <input type="text" class="form-control" id="postal_code" name="postal_code" required>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="country" required>
                </div>
                <a href="" type="submit" class="btn btn-light rounded btn-sm font-sm">Save Address</a>
                        </form>
                <div class="form-group border border-radius-5 mt-30">
                    <div class="mb-20 mt-20">
                    <h4>Select Existing Address</h4>
                    </div>    
                    <div class="row">
                            {% for a in address %}
                                {% with loop_counter=forloop.counter0 %}
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0"> Address {{ loop_counter|add:1 }}</h5>
                                            </div>
                                            <div class="card-body">
                                                <address>{{ a.street_address }}<br>
                                                    {{ a.city }} - {{ a.postal_code }} <br>{{ a.state }} <br></address>
                                                <p>{{ a.country }}</p>
                                                <!-- <a href="#" class="btn btn-light rounded btn-sm font-sm mr-5">Edit</a> -->
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        </div>
                </div>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="assets/imgs/shop/product-1-1.jpg" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html">Yidarton Women Summer Blue</a></h5> <span class="product-qty">x 2</span>
                                            </td>
                                            <td>$180.00</td>
                                        </tr>
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">$280.00</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">$280.00</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#" type="submit" class="btn btn-light rounded btn-sm font-sm">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock content %}
    