{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Order Confirmation
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Order Confirmation</h4>
                        </div>
                        <p>Your order <strong>#{{ order.order_number }}</strong> has been successfully placed.</p>
                        <p>Thank you for your purchase!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
