{% extends 'dashboard/base.html' %}
<script>
    // Disable back button
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/latest/css/all.min.css" integrity="actual-integrity-value" crossorigin="anonymous" />
<style>
    .order_table {
        width: 100%;
        border-collapse: collapse;
    }

    .order_table th, .order_table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .order_table th {
        background-color: #f2f2f2;
    }

    .total-amount {
        font-size: 24px;
        font-weight: bold;
        color: #28a745;
    }

    .back-to-home {
        font-size: 18px;
        margin-top: 20px;
        display: inline-block;
        text-decoration: none;
        color: #007bff;
    }
</style>

<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="mb-4">
                        <h2 class="display-4 caption">Order Successfully Placed</h2>
                    </div>
                </div>
            </div>
            <div class="row m-10">
                <div class="col-md-6">
                    <div class="mb-25">
                        <h4>Billing Address</h4>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ order.user.username }}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{ order.selected_address.street_address }}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{ order.selected_address.city }}</td>
                            </tr>
                            <tr>
                                <th>District</th>
                                <td>{{ order.selected_address.state }}</td>
                            </tr>
                            <tr>
                                <th>Pincode</th>
                                <td>{{ order.selected_address.postal_code }}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td>{{ order.selected_address.country }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Size</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in product_orders %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}"></td>
                                        <td>{{ item.product.title }}</td>
                                        <td>{{ item.variations.size }}</td>
                                        <td>₹{{ item.product_price }}</td>
                                        <td>{{ item.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        {% if order.coupen %}
                        <div class="font-l text-brand fw-600">Coupon: {{ order.coupen.discount }}% Applied</div>
                        <br>
                        {% endif %}
                        <div class="font-xl text-brand fw-900">Total: ₹{{ order.order_total }}</div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card-footer text-muted">
                        <a href="{% url 'store:home' %}" class="btn btn-secondary">Back to Shop</a>&nbsp;&nbsp;
                        <a href="{% url 'cart:order_invoice' order.id %}" class="btn btn-primary ">Download Invoice</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
