{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'store:home' %}" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Payment Method
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-25">
                        <h4>Billing Details</h4>
                    </div>
                    <div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ order.user.username }}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>{{ order.selected_address.street_address }}</td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td>{{ order.selected_address.city }}</td>
                                </tr>
                                <tr>
                                    <th>State</th>
                                    <td>{{ order.selected_address.state }}</td>
                                </tr>
                                <tr>
                                    <th>Pincode</th>
                                    <td>{{ order.selected_address.postal_code }}</td>
                                </tr>
                                <tr>
                                    <th>Country</th>
                                    <td>{{ order.selected_address.country }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ item.product.product.image.url }}" alt="#"></td>
                                        <td>
                                            <h5><a href="shop-product-full.html">{{ item.product.product.title }}</a></h5> <span class="product-qty">x {{ item.quantity }}</span>
                                        </td>
                                        <td>₹{{ item.product.price }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="cart_total_label">Cart Total</td>
                                        <td colspan="2" class="cart_total_amount">₹{{ total_cart_price }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <h4>Select Payment Method</h4>
                        <form method="post" action="{% url 'cart:payment_method_selection' order.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_method" id="cod" value="COD" checked>
                                <label class="form-check-label" for="cod">
                                    Cash on Delivery
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_method" id="razorpay" value="Razorpay">
                                <label class="form-check-label" for="razorpay">
                                    Razorpay
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Proceed</button>
                        </form>
                        {% if messages %}
                            <div class="messages">
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
