<button type="button" class="btn btn-light rounded btn-sm font-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Edit Profile
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'store:edit_profile' %}">
                {% csrf_token %}
                <div class="mb-3" style="text-align: left;">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" placeholder="Firstname" class="form-control" required value="{{user.first_name}}">
                </div> <!-- form-group// -->
                <div class="mb-3" style="text-align: left;">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" placeholder="Lastname" class="form-control" required value="{{user.last_name}}">
                </div> <!-- form-group// -->
                <div class="mb-3" style="text-align: left;">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Username" class="form-control" required value="{{user.username}}">
                </div> <!-- form-group// -->
                <div class="mb-3" style="text-align: left;">
                    <label for="phone_number">Phone:</label>
                    <input type="text" id="phone_number" name="phone_number" placeholder="Phone" class="form-control" required value="{{user.phone_number}}">
                </div> <!-- form-group// -->
                <!-- <div class="mb-3" style="text-align: left;">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email" class="form-control" required value="{{user.email}}">
                </div>  -->
                <button type="submit" class="btn btn-primary rounded btn-sm font-sm">Submit</button>
                <button type="button" class="btn btn-secondary rounded btn-sm font-sm" data-bs-dismiss="modal">Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>