{% extends 'cust_admin/base.html' %}
{% load static %}
{% block content %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: {{ order.order_number }}</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>{{ order.created_at }}</b>
                            </span> <br>
                            <small class="text-muted">Order ID: {{ order.order_number }}</small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            
                            {% if order.status == 'Cancelled' or order.status == 'Return Approved' %}
                                
                            {% else %}
                            <form id="order-status-form" method="post" action="{% url 'cust_admin:order_update_status' order.id %}">
                                {% csrf_token %}
                                <select class="form-select d-inline-block mb-10 mt-10 mw-200" id="status" name="status">
                                    <option value="New" {% if order.status == 'New' %}selected{% endif %}>New</option>
                                    <option value="Paid" {% if order.status == 'Paid' %}selected{% endif %}>Paid</option>
                                    <option value="Shipped" {% if order.status == 'Shipped' %}selected{% endif %}>Shipped</option>
                                    <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                                    <option value="Cancelled" {% if order.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
                                    <option value="Completed" {% if order.status == 'Completed' %}selected{% endif %}>Completed</option>
                                    <option value="Return Requested" {% if order.status == 'Return Requested' %}selected{% endif %}>Return Requested</option>
                                    <option value="Return Approved" {% if order.status == 'Return Approved' %}selected{% endif %}>Return Approved</option>
                                    <option value="Return Rejected" {% if order.status == 'Return Rejected' %}selected{% endif %}>Return Rejected</option>
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-primary" type="submit">Save</button>
                            </form>
                            
                            {% endif %}    
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script>
                                $(document).ready(function() {
                                    $('#order-status-form').on('submit', function(e) {
                                        e.preventDefault(); // Prevent default form submission
                                        
                                        var form = $(this);
                                        var url = form.attr('action');
                                        var data = form.serialize();
                                        
                                        $.ajax({
                                            type: 'POST',
                                            url: url,
                                            data: data,
                                            success: function(response) {
                                                // Handle success
                                                alert('Order status updated successfully!');
                                                // Optionally, reload the page or update a part of the page
                                            },
                                            error: function(xhr, errmsg, err) {
                                                // Handle error
                                                alert('Error updating order status.');
                                            }
                                        });
                                    });
                                });
                            </script>
                            
                    </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        {{ order.user.first_name }} {{ order.user.last_name }} <br> +91 {{ order.user.phone_number }}
                                    </p>
                                    {{ order.user.email }}
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br> Pay method: {{  order.payment_method}} <br> Status: {{ order.status }}
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        Address: {{ order.order_address }}
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%">Size</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" width="100">
                                                    </div>
                                                    <div class="info"> {{ item.product.title }} </div>
                                                </a>
                                            </td>
                                            <td> ₹{{ item.product_price }} </td>
                                            <td> {{ item.quantity }} </td>
                                            <td> {{ item.size }} </td>
                                            <td class="text-end">{{ item.sub }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <!-- <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>$973.35</dd>
                                            </dl> -->
                                            <!-- <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>$10.00</dd>
                                            </dl> -->
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">₹{{ order.order_total }}</b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                {% if order.payment_method == 'Razorpay' %}
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="{% static 'admin_side/imgs/card-brands/razor.png' %}" height="35"><br>
                                    Payment Id: {{ order.razorpay_payment_id }}<br>
                                    Business name: {{ order.user.first_name }} {{ order.last_name }} <br>
                                    Phone: {{ order.user.phone_number }}
                                </p>
                                {% elif order.payment_method == 'COD'%}
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="{% static 'admin_side/imgs/card-brands/COD.png' %}" height="80"><br>
                                    Payment Id: {{ order.order_number }}<br>
                                    Business name: {{ order.user.first_name }} {{ order.last_name }} <br>
                                    Phone: {{ order.user.phone_number }}
                                </p>
                                {% elif order.payment_method == 'Wallet' %} 
                                <h6 class="mb-15">Payment info</h6>
                                <p>   
                                <img src="{% static 'admin_side/imgs/card-brands/wallet.png' %}" height="80"><br>
                                    Payment Id: {{ order.order_number }}<br>
                                    Business name: {{ order.user.first_name }} {{ order.last_name }} <br>
                                    Phone: {{ order.user.phone_number }}
                                {% endif %}
                            </div>
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

{% endblock content %}