{% extends 'account/base.html' %}
{% load static %}
{% block content %}
        
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Admin Login</h4>
                    <form method="post" action="{% url 'admin_auth:admin_login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input class="form-control" placeholder="Username or email" type="text" name="email">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" type="password" name="password">
                        </div> <!-- form-group// -->
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                    <!-- <p class="text-center mb-4">Don't have account? <a href="#">Sign up</a></p> -->
                </div>
            </div>
        </section>
        
{% endblock content %}
    