{% extends 'dashboard/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-30 mt-30">
                <div class="card-header">
                    <h2 class="card-title">Change Password</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'store:change_password' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.old_password.label_tag }}
                            {{ form.old_password }}
                            {% if form.old_password.errors %}
                                <div class="invalid-feedback">{{ form.old_password.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
