{% extends 'dashboard/base.html' %}
{% load static %}
{% load form_helpers %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-30 mt-30">
                <div class="card-header">
                    <h2 class="card-title">Change Password</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'store:change_password' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <ul>
                                <li>Your password can't be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can't be a commonly used password.</li>
                                <li>Your password can't be entirely numeric.</li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            {{ form.old_password.label_tag }}
                            {% if form.old_password.errors %}
                                {{ form.old_password|add_class:"form-control is-invalid" }}
                            {% else %}
                                {{ form.old_password|add_class:"form-control" }}
                            {% endif %}
                            {% if form.old_password.errors %}
                                {% for error in form.old_password.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                        <div class="mb-3">
                            {{ form.new_password1.label_tag }}
                            {% if form.new_password1.errors %}
                                {{ form.new_password1|add_class:"form-control is-invalid" }}
                            {% else %}
                                {{ form.new_password1|add_class:"form-control" }}
                            {% endif %}
                            {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                        <div class="mb-3">
                            {{ form.new_password2.label_tag }}
                            {% if form.new_password2.errors %}
                                {{ form.new_password2|add_class:"form-control is-invalid" }}
                            {% else %}
                                {{ form.new_password2|add_class:"form-control" }}
                            {% endif %}
                            {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
