{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'store:home' %}" rel="nofollow">Home</a>
                <span></span> {{ category.c_name }}
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{ prod_count }}</strong> items for you!</p>
                        </div>
                        <form class="sort-by-product-area" method="get" id="filter-form">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <select name="items_per_page" onchange="document.getElementById('filter-form').submit();">
                                            <option value="9" {% if items_per_page == '9' %}selected{% endif %}>9</option>
                                            <option value="20" {% if items_per_page == '20' %}selected{% endif %}>20</option>
                                            <option value="30" {% if items_per_page == '30' %}selected{% endif %}>30</option>
                                            <option value="all" {% if items_per_page == 'all' %}selected{% endif %}>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <select name="sort_by" onchange="document.getElementById('filter-form').submit();">
                                            <option value="featured" {% if sort_by == 'featured' %}selected{% endif %}>Featured</option>
                                            <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
                                            <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
                                            <option value="new_arrivals" {% if sort_by == 'new_arrivals' %}selected{% endif %}>New Arrivals</option>
                                            <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>Name: Aa-Zz</option>
                                            <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>Name: Zz-Aa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row product-grid-3">
                        {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'store:product_view' product.p_id %}">
                                            <img class="default-img" src="{{ product.image.url }}" alt="{{ product.title }}">
                                            {% if product.images.first %}
                                            <img class="hover-img" src="{{ product.images.first.images.url }}" alt="">
                                            {% endif %}
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category"></div>
                                    <h2><a href="{% url 'store:product_view' product.p_id %}">{{ product.title|truncatechars:30 }}</a></h2>
                                    <!-- <div class="rating-result" title="90%">
                                        <span>
                                            <span>95%</span>
                                        </span>
                                    </div> -->
                                    <div class="product-price">
                                        <span>&#8377;{{ product.product_attributes.first.price }}</span>
                                        {% if product.product_attributes.first.old_price != 0 and product.product_attributes.first.price != 0 %}
                                        <span class="old-price">&#8377;{{ product.product_attributes.first.old_price }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'store:add_to_wishlist' product.p_id %}"><i class="fi-rs-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination Area -->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30">Category</h5>
                        <ul class="categories">
                            {% for category in categories %}
                            <li>
                                <a href="{% url 'store:product_list_by_category' category.c_id %}">{{ category.c_name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar-widget price_range range mb-30">
                        <h5 class="section-title style-1 mb-30">Fill by price</h5>
                        <form method="get" id="price-filter-form">
                            <div class="list-group">
                                <label class="list-group-item">
                                    <input class="form-check-input me-1" name="price_filter" value="below_500" type="radio" onchange="document.getElementById('price-filter-form').submit();" {% if price_filter == 'below_500' %}checked{% endif %}>
                                    Below ₹500
                                </label>
                                <label class="list-group-item">
                                    <input class="form-check-input me-1" name="price_filter" value="500_1000" type="radio" onchange="document.getElementById('price-filter-form').submit();" {% if price_filter == '500_1000' %}checked{% endif %}>
                                    ₹500-₹1000
                                </label>
                                <label class="list-group-item">
                                    <input class="form-check-input me-1" name="price_filter" value="1000_1500" type="radio" onchange="document.getElementById('price-filter-form').submit();" {% if price_filter == '1000_1500' %}checked{% endif %}>
                                    ₹1000-₹1500
                                </label>
                                <label class="list-group-item">
                                    <input class="form-check-input me-1" name="price_filter" value="1500_2000" type="radio" onchange="document.getElementById('price-filter-form').submit();" {% if price_filter == '1500_2000' %}checked{% endif %}>
                                    ₹1500-₹2000
                                </label>
                                <label class="list-group-item">
                                    <input class="form-check-input me-1" name="price_filter" value="above_2000" type="radio" onchange="document.getElementById('price-filter-form').submit();" {% if price_filter == 'above_2000' %}checked{% endif %}>
                                    Above ₹2000
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Fillter By Price -->
            </div>
        </div>
    </section>
</main>
{% endblock %}
