{% extends 'dashboard/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<style>
    .order-container {
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        margin-top: 20px;
        position: relative; /* Ensure the container is positioned relative */
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .cancel-order-btn {
        background-color: #088178;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: auto; /* Push the cancel button to the right */
    }

    .back-to-shop {
        display: inline-block;
        padding: 10px 20px;
        background-color: #088178;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
</style>

<div class="container order-container">
    <!-- <div class="order-header">
        <h2>Order Details</h2>
        <a href="#" class="btn-pdf">Download as PDF</a>
    </div> -->

    <!-- <h3>Billing Details</h3> -->
    <h3>Order Details</h3>
    <table class="order-table">
        <tr>
            <th>Order ID</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>Shipping Address</th>
            <td>{{ order.order_address }} {{ order.selected_address.city }}, 
                {{ order.selected_address.state }}, {{ order.selected_address.country }} P.O - {{ order.selected_address.postal_code }}</td>
        </tr>
        <tr>
            <th>Total Amount</th>
            <td>₹{{ order.order_total }}</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td>{{ order.payment_method }}</td>
        </tr>
        <tr>
            <th>Order Status</th>
            <td>{{ order.status }}</td>
        </tr>
    </table>

    <h3>Order Items</h3>
    <table class="order-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>₹{{ item.quantity|multiply:item.product_price|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if order.coupon %}
            <tr>
                <th colspan="2">Discount Price:</th>
                <td>₹{{ order.discount }}</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="2">Total Price:</th>
                <td>₹{{ order.order_total }}</td>
            </tr>
        </tfoot>
    </table>

    <div class="button-container">
        <a href="{% url 'store:home' %}" class="back-to-shop">Continue Shopping</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'cart:order_invoice' order.id %}" class="btn btn-primary ">Download Invoice</a>

        
        {% if order.status == 'Delivered' %}
        <!-- <a href="{% url 'store:order_return' order.id %}" class="cancel-order-btn">Return Order</a> -->
         {% include 'dashboard/modal/return_reason.html' %}
        {% elif order.status != 'Cancelled' and order.status != 'Return Approved' %}
        <a href="{% url 'store:order_cancel' order.id %}" class="cancel-order-btn">Cancel Order</a>
        {% else %}
        
        {% endif %}
    </div>
</div>

{% endblock content %}
